{
  "globals": {
    "TweenMax": true,
    "TimelineLite": true,
    "TimelineMax": true,
    "Power1": true,
    "Power2": true,
    "Power3": true,
    "Power4": true,
    "Sine": true,
    "Back": true,
  }
}
