{
  "globals": {
    "React": true,
    "Radium": true,
    "GSAP": true,
    "Power1": true,
    "customDrag": true,
    "TweenMax": true,
    "TimelineLite": true,
    "TimelineMax": true,
    "GS_GREEN": true,
    "mountNode": true,
    "radDiff": true
  }
}
