//add event listeners to the animation with the controller.eventCallback()
//http://greensock.com/docs/#/HTML5/GSAP/TimelineMax/eventCallback/
function createAnim(utils) {
  var box = utils.target.find({name: utils.options.name})

  return new TimelineMax()
    .pause()
    .to(box, 1.44, {
      y: utils.options.y,
      yoyo: true,
      repeat: 1,
      ease: Sine.easeInOut,
    })
}

var Demo = GSAP()(React.createClass({
  getInitialState() {
    return {
      colorsSwapped: false
    }
  },

  componentDidMount: function() {
    var anim1 = this.addAnimation(createAnim, {name: 'box1', y: -123})
    var anim2 = this.addAnimation(createAnim, {name: 'box2', y: 123})

    anim1.eventCallback('onComplete', function () {
      console.log('complete - anim2')
      anim2.restart()
    })
    anim2.eventCallback('onComplete', function () {
      console.log('complete - anim1')
      anim1.restart()
    })
    anim1.play()
  },

  swapColors() {
    this.setState({
      colorsSwapped: !this.state.colorsSwapped
    })
  },

  render: function() {
    var containerStyle = {
      position: 'absolute',
      width: '100%',
      height: '100%',
    }
    function style(color) {
      return {
        backgroundColor: color,
        width: 80,
        height: 80,
        borderRadius: 40,
      }
    }

    const [color1, color2] = this.state.colorsSwapped
      ? ['#0074D9', '#FF851B']
      : ['#FF851B', '#0074D9']

    return (
      <div>
        <Text>Click to swap colors!</Text>
        <Center onClick={this.swapColors}>
          <div name='box1' style={style(color1)}/>
          <div name='box2' style={style(color2)}/>
        </Center>
      </div>
    )
  }
}))



ReactDOM.render(<Demo/>, mountNode)
