//pass options to the animation source

function emitAnim({target, options}) {
  var emitter = target.find({name: 'emitter'})
  var point = target.find({name: options.name})

  return new TimelineMax()
    .set(point, {
      backgroundColor: 'transparent',
      scale: 0,
    })
    .to(emitter, 1.2, {
      backgroundColor: '#DDDDDD',
      scale: 0.68,
      ease: Circ.easeOut,
    })
    .add('release')
    .to([emitter, point], 0.2, {
      backgroundColor: options.color,
      scale: 1,
      ease: Back.easeOut
    })
    .to(point, 0.45, {
      left: options.x,
      top: options.y,
      ease: Sine.easeOut,
    }, 'release')
}

var COLORS = ['#0074D9', '#FF851B', '#FF4136', '#85144b', '#2ECC40']

class Demo extends React.Component {
  constructor(props) {
    super(props)
    this.state = {points: []}
  }

  handleEmit = (e) => {
    var {top, left} = this.middleContainerNode.getBoundingClientRect()
    var name = `point${this.state.points.length}`
    var newPoint = {
      name,
      color: _.sample(COLORS),
      x: e.clientX - left - 40,
      y: e.clientY - top - 40,
    }
    this.setState({points: [...this.state.points, newPoint]})
    this.addAnimation(emitAnim, newPoint)
  }

  handleMiddleContainerRef = (component) => {
    this.middleContainerNode = ReactDOM.findDOMNode(component)
  }

  render () {
    var containerStyle = {
      position: 'absolute',
      width: '100%',
      height: '100%',
    }
    var middleContainerStyle = {
      position: 'relative',
      width: 80,
      height: 80,
    }
    var pointStyle = {
      position: 'absolute',
      backgroundColor: GS_GREEN,
      width: 80,
      height: 80,
      top: 0,
      left: 0,
      borderRadius: 40,
    }

    return <div onClick={this.handleEmit} style={containerStyle}>
      <Text>Click somewhere!</Text>
      <Center>
        <div style={middleContainerStyle} ref={this.handleMiddleContainerRef}>
          <div name='emitter' style={pointStyle}/>
          {this.state.points.map(point => {
            return <div
              name = {point.name}
              style = {{...pointStyle, backgroundColor: point.color}}/>
          })}
        </div>
      </Center>
    </div>
  }
}

const GSAPDemo = GSAP()(Demo)
ReactDOM.render(<GSAPDemo/>, mountNode)
