//pass options to the animation source
//this source only using in ES5 syntax and JSX
function createAnim(utils) {
  var box = utils.target.find({name: 'box'})

  return new TimelineMax()
    .to(box, 0.44, {
      x: utils.options.x,
      y: utils.options.y,
      ease: Elastic.easeOut,
      onComplete: function () {
        console.log('complete - anim')
      }
    })
}

var Demo = GSAP()(React.createClass({
  handleNavigateClick: function(e) {
    var rootNode = ReactDOM.findDOMNode(this)
    var {top, left} = rootNode.getBoundingClientRect()
    this.addAnimation(createAnim, {
      x: e.clientX - left - 40,
      y: e.clientY - top - 40,
    })
  },
  render: function() {
    var containerStyle = {
      position: 'absolute',
      width: '100%',
      height: '100%',
    }
    var style = {
      backgroundColor: GS_GREEN,
      width: 80,
      height: 80,
      borderRadius: 40,
    }

    return <div onClick={this.handleNavigateClick} style={containerStyle}>
      <Text>Click somewhere!</Text>
      <div name='box' style={style}/>
    </div>
  }
}))



ReactDOM.render(<Demo/>, mountNode)
